{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "importOrder": ["^(react$|react/)", "^(next$|next/)", "^(?![./])", "^[./]"],
  "importOrderSeparation": true
}
